function Mapa.new 0
push constant 9
call Memory.alloc 1
pop pointer 0
push constant 6
pop this 1
push this 1
call Matrix.new 1
pop this 0
push constant 3
pop this 2
push constant 2
pop this 3
push constant 2
pop this 4
push constant 2
pop this 5
push constant 4
pop this 6
push constant 4
pop this 7
push constant 0
pop this 8
push this 0
push constant 0
push constant 0
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 1
push constant 0
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 2
push constant 0
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 3
push constant 0
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 4
push constant 0
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 5
push constant 0
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 0
push constant 1
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 1
push constant 1
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push constant 2
push constant 1
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push constant 3
push constant 1
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push constant 4
push constant 1
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push constant 5
push constant 1
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 0
push constant 2
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 1
push constant 2
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push constant 2
push constant 2
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push constant 3
push constant 2
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push constant 4
push constant 2
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push constant 5
push constant 2
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 0
push constant 3
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 1
push constant 3
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push constant 2
push constant 3
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push constant 3
push constant 3
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push constant 4
push constant 3
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push constant 5
push constant 3
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 0
push constant 4
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 1
push constant 4
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push constant 2
push constant 4
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push constant 3
push constant 4
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push constant 4
push constant 4
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push constant 5
push constant 4
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 0
push constant 5
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 1
push constant 5
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 2
push constant 5
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 3
push constant 5
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 4
push constant 5
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push constant 5
push constant 5
push constant 1
call Matrix.setValue 4
pop temp 0
push this 0
push this 4
push this 5
push constant 4
call Matrix.setValue 4
pop temp 0
push this 0
push this 2
push this 3
push constant 2
call Matrix.setValue 4
pop temp 0
push pointer 0
return
function Mapa.moveUp 2
push argument 0
pop pointer 0
push this 3
push constant 1
sub
pop local 1
push this 2
pop local 0
push this 0
push local 0
push local 1
call Matrix.getValue 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 2
push this 3
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push local 0
push local 1
push constant 2
call Matrix.setValue 4
pop temp 0
push local 0
pop this 2
push local 1
pop this 3
label IF_FALSE0
push this 0
push local 0
push local 1
call Matrix.getValue 3
push constant 4
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push local 0
push local 1
push constant 1
sub
call Matrix.getValue 3
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push this 4
push this 5
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push local 0
push local 1
push constant 1
sub
push constant 4
call Matrix.setValue 4
pop temp 0
push local 0
pop this 4
push local 1
push constant 1
sub
pop this 5
push this 0
push this 2
push this 3
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push local 0
push local 1
push constant 2
call Matrix.setValue 4
pop temp 0
push local 0
pop this 2
push local 1
pop this 3
label IF_FALSE2
label IF_FALSE1
push pointer 0
call Mapa.getBandera 1
pop temp 0
push pointer 0
call Mapa.mostrar 1
pop temp 0
push constant 0
return
function Mapa.moveDown 2
push argument 0
pop pointer 0
push this 3
push constant 1
add
pop local 1
push this 2
pop local 0
push this 0
push local 0
push local 1
call Matrix.getValue 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 2
push this 3
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push local 0
push local 1
push constant 2
call Matrix.setValue 4
pop temp 0
push local 0
pop this 2
push local 1
pop this 3
label IF_FALSE0
push this 0
push local 0
push local 1
call Matrix.getValue 3
push constant 4
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push local 0
push local 1
push constant 1
add
call Matrix.getValue 3
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push this 4
push this 5
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push local 0
push local 1
push constant 1
add
push constant 4
call Matrix.setValue 4
pop temp 0
push local 0
pop this 4
push local 1
push constant 1
add
pop this 5
push this 0
push this 2
push this 3
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push local 0
push local 1
push constant 2
call Matrix.setValue 4
pop temp 0
push local 0
pop this 2
push local 1
pop this 3
label IF_FALSE2
label IF_FALSE1
push pointer 0
call Mapa.getBandera 1
pop temp 0
push pointer 0
call Mapa.mostrar 1
pop temp 0
push constant 0
return
function Mapa.moveLeft 2
push argument 0
pop pointer 0
push this 3
pop local 1
push this 2
push constant 1
sub
pop local 0
push this 0
push local 0
push local 1
call Matrix.getValue 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 2
push this 3
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push local 0
push local 1
push constant 2
call Matrix.setValue 4
pop temp 0
push local 0
pop this 2
push local 1
pop this 3
label IF_FALSE0
push this 0
push local 0
push local 1
call Matrix.getValue 3
push constant 4
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push local 0
push constant 1
sub
push local 1
call Matrix.getValue 3
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push this 4
push this 5
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push local 0
push constant 1
sub
push local 1
push constant 4
call Matrix.setValue 4
pop temp 0
push local 0
push constant 1
sub
pop this 4
push local 1
pop this 5
push this 0
push this 2
push this 3
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push local 0
push local 1
push constant 2
call Matrix.setValue 4
pop temp 0
push local 0
pop this 2
push local 1
pop this 3
label IF_FALSE2
label IF_FALSE1
push pointer 0
call Mapa.getBandera 1
pop temp 0
push pointer 0
call Mapa.mostrar 1
pop temp 0
push constant 0
return
function Mapa.moveRight 2
push argument 0
pop pointer 0
push this 3
pop local 1
push this 2
push constant 1
add
pop local 0
push this 0
push local 0
push local 1
call Matrix.getValue 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 2
push this 3
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push local 0
push local 1
push constant 2
call Matrix.setValue 4
pop temp 0
push local 0
pop this 2
push local 1
pop this 3
label IF_FALSE0
push this 0
push local 0
push local 1
call Matrix.getValue 3
push constant 4
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push local 0
push constant 1
add
push local 1
call Matrix.getValue 3
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push this 4
push this 5
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push local 0
push constant 1
add
push local 1
push constant 4
call Matrix.setValue 4
pop temp 0
push local 0
push constant 1
add
pop this 4
push local 1
pop this 5
push this 0
push this 2
push this 3
push constant 0
call Matrix.setValue 4
pop temp 0
push this 0
push local 0
push local 1
push constant 2
call Matrix.setValue 4
pop temp 0
push local 0
pop this 2
push local 1
pop this 3
label IF_FALSE2
label IF_FALSE1
push pointer 0
call Mapa.getBandera 1
pop temp 0
push pointer 0
call Mapa.mostrar 1
pop temp 0
push constant 0
return
function Mapa.getBandera 0
push argument 0
pop pointer 0
push this 4
push this 6
eq
push this 5
and
push this 7
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop this 8
label IF_FALSE0
push constant 0
return
function Mapa.mostraraux 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 1
lt
not
if-goto WHILE_END0
push argument 1
push local 0
call Output.moveCursor 2
pop temp 0
push this 0
push local 0
push argument 1
call Matrix.getValue 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
call String.new 1
push constant 35
call String.appendChar 2
pop local 1
push local 1
call Output.printString 1
pop temp 0
push local 1
call String.dispose 1
pop temp 0
label IF_FALSE0
push local 0
push this 6
eq
push argument 1
and
push this 7
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
call String.new 1
push constant 79
call String.appendChar 2
pop local 1
push local 1
call Output.printString 1
pop temp 0
push local 1
call String.dispose 1
pop temp 0
label IF_FALSE1
push this 0
push local 0
push argument 1
call Matrix.getValue 3
push constant 4
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
call String.new 1
push constant 67
call String.appendChar 2
pop local 1
push local 1
call Output.printString 1
pop temp 0
push local 1
call String.dispose 1
pop temp 0
label IF_FALSE2
push this 0
push local 0
push argument 1
call Matrix.getValue 3
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
pop local 1
push local 1
call Output.printString 1
pop temp 0
push local 1
call String.dispose 1
pop temp 0
label IF_FALSE3
push this 0
push local 0
push argument 1
call Matrix.getValue 3
push constant 2
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 1
call String.new 1
push constant 88
call String.appendChar 2
pop local 1
push local 1
call Output.printString 1
pop temp 0
push local 1
call String.dispose 1
pop temp 0
label IF_FALSE4
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Mapa.mostrar 3
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 4
call String.new 1
push constant 110
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 97
call String.appendChar 2
pop local 2
push this 8
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 7
call String.new 1
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 69
call String.appendChar 2
pop local 2
push local 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push local 2
call String.dispose 1
pop temp 0
label IF_FALSE0
push local 2
call String.dispose 1
pop temp 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push this 1
lt
not
if-goto WHILE_END0
push pointer 0
push local 1
call Mapa.mostraraux 2
pop temp 0
call Output.println 0
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Mapa.dispose 0
push argument 0
pop pointer 0
push this 0
call Matrix.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
